<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>SplitXCH Tree Builder</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Create complex, nested split trees for NFT royalties and revenue distribution.</p>
        <ion-button expand="block" routerLink="/split-builder" style="margin-top: 16px;">
          <ion-icon name="construct" slot="start"></ion-icon>
          Open Split Builder
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
